<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="spacecraft">

    <xacro:include filename="example_include.xacro" />

    <link name="world"></link>

    <joint name="base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.3 0.3 0.3"/>
            </geometry>
            <material name="gold">
                <color rgba="0.83 0.68 0.21 1"/>
            </material>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.3 0.3 0.3"/>
            </geometry>
        </collision>

        <xacro:inertial_box mass="3" x="0.3" y="0.3" z="0.3">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <!-- <gazebo reference="base_link">
        <plugin name="apply_force_plugin" filename="libapply_force_plugin.so"/>
    </gazebo> -->

    <joint name="thruster_right_joint" type="fixed">
        <origin xyz="0.175 0.0 0.0" rpy="0.0 0.0 -1.5707"/>
        <parent link="base_link"/>
        <child link="thruster_right_link"/>        
    </joint>

    <joint name="thruster_left_joint" type="fixed">
        <origin xyz="-0.175 0.0 0.0" rpy="0.0 0.0 1.5707"/>
        <parent link="base_link"/>
        <child link="thruster_left_link"/>        
    </joint>

    <joint name="thruster_front_joint" type="fixed">
        <origin xyz="0.0 0.175 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="thruster_front_link"/>        
    </joint>

    <joint name="thruster_back_joint" type="fixed">
        <origin xyz="0.0 -0.175 0.0" rpy="0.0 0.0 3.1415"/>
        <parent link="base_link"/>
        <child link="thruster_back_link"/>        
    </joint>

    <link name="thruster_right_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
            <material name="grey">
                <color rgba="0.74 0.76 0.78 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.03" x="0.05" y="0.05" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <link name="thruster_left_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
            <material name="grey">
                <color rgba="0.74 0.76 0.78 1"/>
            </material>
        </visual>
    </link>

    <link name="thruster_front_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
            <material name="grey">
                <color rgba="0.74 0.76 0.78 1"/>
            </material>
        </visual>
    </link>

    <link name="thruster_back_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
            <material name="grey">
                <color rgba="0.74 0.76 0.78 1"/>
            </material>
        </visual>
    </link>


</robot>
